@font-face {
  font-family: 'Literal';
  font-style: normal;
  font-weight: 300;
  src:
    local('Literal'),
    url('/src/fonts/light.woff') format('woff');
}

@font-face {
  font-family: 'Literal';
  font-style: normal;
  font-weight: 400;
  src:
    local('Literal'),
    url('/src/fonts/regular.woff') format('woff');
}

@font-face {
  font-family: 'Literal';
  font-style: normal;
  font-weight: 700;
  src:
    local('Literal'),
    url('/src/fonts/bold.woff') format('woff');
}
