@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Original/Default */
  --background: 221, 39%, 11%;
  --foreground: 0, 0%, 100%;
  --secondary: 216 53% 29%;

  /* Original */
  --background-0: 221, 39%, 11%;
  --foreground-0: 0, 0%, 100%;
  /* dark */
  --background-1: 0, 0%, 0%;
  --foreground-1: 0, 0%, 100%;
  /* light */
  --background-2: 0, 0%, 100%;
  --foreground-2: 0, 0%, 0%;
  /* Ocean */
  --background-3: 176, 61%, 19%;
  --foreground-3: 0, 0%, 100%;
  /* Template */
  /* --background-x: ; */
  /* --foreground-x: ; */
}

:root[theme-data='dark'] {
  --background: 0, 0%, 0%;
  --secondary: 0, 0%, 10%;
}

:root[theme-data='light'] {
  --background: 0, 0%, 100%;
  --secondary: 0, 0%, 80%;
  --foreground: 0, 0%, 0%;
}

:root[theme-data='ocean'] {
  --background: 176, 61%, 19%;
  --secondary: 0, 0%, 80%;
  --foreground: 0, 0%, 100%;
}

html,
#root {
  font-family: 'Literal';
  scroll-behavior: smooth;
  overscroll-behavior: none;
  min-height: 100dvh;
  min-width: 100dvw;
}

* {
  @apply transition-colors duration-0;
}
html {
  @apply bg-background;
  color: hsl(var(--foreground));
  overflow-x: hidden;
}

.lock {
  overflow: hidden;
  position: relative;
  height: 100vh;
}

.p3d {
  transform-style: preserve-3d;
  perspective: 100px;
}

.textStroke {
  -webkit-text-stroke: 1px hsl(var(--foreground));
  text-stroke: 1px hsl(var(--foreground));
  color: transparent;
}

.grid-background-50 {
  background: url(/src/assets/svg/grid.svg);
  background-size: 50px;
}
