@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: black;
  --line: hsl(0, 0%, 100%);
  --text: hsl(0, 0%, 100%);
  --text2: hsl(0, 0%, 100%);

  --blue: #54a6c9;
  --green: #79c954;
  --purple: #9554c9;
  --red: #c95454;
  --yellow: #c9af54;
}

* {
  /* for testing */
  /* outline: solid; */
}

html,
#root {
  font-family: "Literal Regular";
  @apply h-[100vh] w-[100vw];
}

html {
  background-color: var(--background);
  color: var(--text);
  overflow-x: hidden;
}

.textStroke {
  -webkit-text-stroke: 1px white;
  text-stroke: 1px white;
  color: transparent;
}

.grid-background-30 {
  background: url(/src/assets/svg/grid.svg);
  background-size: 30px;
}

.grid-background-50 {
  background: url(/src/assets/svg/grid.svg);
  background-size: 50px;
}

.fade {
  object-fit: cover;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0),
    rgb(19, 19, 19) 50%,
    rgba(255, 255, 255, 0)
  );
}
