@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 0, 0%, 100%;
  --background: 0, 0%, 0%;
}

:root[theme-data='light'] {
}

html,
#root {
  font-family: 'Literal';
  scroll-behavior: smooth;
  overscroll-behavior: none;
  min-height: 100dvh;
  min-width: 100dvw;
  background: hsl(var(--background));
}

html {
  color: hsl(var(--foreground));
  overflow-x: hidden;
}

.p3d {
  transform-style: preserve-3d;
  perspective: 200px;
}

.textStroke {
  -webkit-text-stroke: 1px hsl(var(--foreground));
  text-stroke: 1px hsl(var(--foreground));
  color: transparent;
}

.grid-background-50 {
  background: url(/src/assets/svg/grid.svg);
  background-size: 50px;
}
.grid-background-50-light {
  background: url(/src/assets/svg/gridLight.svg);
  background-size: 50px;
}

.diagonal-background-16 {
  background: url(/src/assets/svg/diagonalImg.svg);
  background-size: 16px;
}

.diagonal-background-orange-16 {
  background: url(/src/assets/svg/diagonalImgOrange.svg);
  background-size: 16px;
}
.diagonal-background-blue-16 {
  background: url(/src/assets/svg/diagonalImgBlue.svg);
  background-size: 16px;
}
